pre .str {
  color: #65b042; }

pre .kwd {
  color: #e28964; }

pre .com {
  color: #aeaeae;
  font-style: italic; }

pre .typ {
  color: #89bdff; }

pre .lit {
  color: #3387cc; }

pre .pun {
  color: #fff; }

pre .pln {
  color: #fff; }

pre .tag {
  color: #89bdff; }

pre .atn {
  color: #bdb76b; }

pre .atv {
  color: #65b042; }

pre .dec {
  color: #3387cc; }

pre.prettyprint {
  background-color: #000;
  border-radius: 8px;
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap; }

code .str {
  color: #65b042; }

code .kwd {
  color: #e28964; }

code .com {
  color: #aeaeae;
  font-style: italic; }

code .typ {
  color: #89bdff; }

code .lit {
  color: #3387cc; }

code .pun {
  color: #fff; }

code .pln {
  color: #fff; }

code .tag {
  color: #89bdff; }

code .atn {
  color: #bdb76b; }

code .atv {
  color: #65b042; }

code .dec {
  color: #3387cc; }

code.prettyprint {
  background-color: #000;
  border-radius: 8px; }

li.L0 {
  list-style-type: none; }

li.L1 {
  list-style-type: none; }

li.L2 {
  list-style-type: none; }

li.L3 {
  list-style-type: none; }

li.L5 {
  list-style-type: none; }

li.L6 {
  list-style-type: none; }

li.L7 {
  list-style-type: none; }

li.L8 {
  list-style-type: none; }

@media print {
  pre .str {
    color: #060; }
  pre .kwd {
    color: #006;
    font-weight: bold; }
  pre .com {
    color: #600;
    font-style: italic; }
  pre .typ {
    color: #404;
    font-weight: bold; }
  pre .lit {
    color: #044; }
  pre .pun {
    color: #440; }
  pre .pln {
    color: #000; }
  pre .tag {
    color: #006;
    font-weight: bold; }
  pre .atn {
    color: #404; }
  pre .atv {
    color: #060; }
  code .str {
    color: #060; }
  code .kwd {
    color: #006;
    font-weight: bold; }
  code .com {
    color: #600;
    font-style: italic; }
  code .typ {
    color: #404;
    font-weight: bold; }
  code .lit {
    color: #044; }
  code .pun {
    color: #440; }
  code .pln {
    color: #000; }
  code .tag {
    color: #006;
    font-weight: bold; }
  code .atn {
    color: #404; }
  code .atv {
    color: #060; } }

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae; }
