extends ../includes/layout

block main-content
    div.view(ng-view)
    footer.navbar.navbar-default.navbar-fixed-bottom
        .container
            p.navbar-text.pull-left.text-center
                small All Blade and Soul® media and content is a registered trademark of NCSoft®, Inc., in the U.S. and/or other countries. All rights reserved. bnsapi.com is not affiliated with, endorsed, sponsored, or specifically approved by NCSOFT®. bnsapi.com may use the trademarks and other intellectual property of NCSOFT, which is permitted under NCSOFT's Marketing Asset Policy.
