@import 'https://fonts.googleapis.com/css?family=Lobster|Poiret+One|Press+Start+2P|Reem+Kufi|Kalam';

$lobsterFont: "Lobster";
$poiretFont: "Poiret One";
$kalamFont: "Kalam";
$PS2PFont: "Press Start 2P";
$reemKufiFont: "Reem Kufi";

$primary: #456F74;
$primary-dim: darken($primary, 10%);
$primary-dark: darken($primary, 50%);

$secondary: #EB5937;
$secondary-dim: darken($secondary, 10%);
$secondary-dark: darken($secondary, 50%);

$dark: #1c1919;
$gray: #403d3c;

$light: #D3CBBD;
$light-dim: darken($light, 10%);
$light-dark: darken($light, 50%);

$white: #ededed;
