doctype
html
    head
        title BNS Char API
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/json-formatter.css")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/endpoints.css")
        link(rel="stylesheet", href="/css/login-register.css")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        base(href="/")
    body(ng-app='app')
        block main-content
        include scripts
