script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js')
script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mainCtrl.js")
script(type="text/javascript", src="/app/account/loginCtrl.js")
script(type="text/javascript", src="/app/account/signupCtrl.js")
script(type="text/javascript", src="/app/account/confirmCtrl.js")
