.container-fluid
    h1 BNS Character API
    .col-xs-12.endpoints
        .endpoint
            .col-xs-4.endpoint-url
                .type
                    span.text-success GET
                span /api/character/:characterName
            .col-xs-8.endpoint-detail
                p Returns JSON object with basic character data.
                input.form-control.input-sm(type="text", placeholder="Search Character Name", ng-model="characterName", ng-change="search()")
                json-formatter.result(json="searchResults", open="1")
                span.text-info NOTE:
                span  Character Name parameter is Case Sensitive

